{% extends 'base.html' %}
<!-- head -->
{% block titulo %} {% endblock %}

<!-- /head -->

<!-- body -->
{% block conteudo %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <div class="post-preview">
                <a href="algorithms/busca%20binária">
                    <h2 class="post-title">Busca Binária</h2>
                    <h3 class="post-subtitle">Sobre busca binária</h3>
                </a>
                <p class="post-meta">
                    Postado por
                    <a href="#!">Pedro Henrique</a>
                    em 9 de Setembro de 2022
                </p>
            </div>
            <hr class="my-4" />
            <div class="post-preview">
                <a href="algorithms/busca%20ternária">
                    <h2 class="post-title">Busca Ternária</h2>
                    <h3 class="post-subtitle">Sobre busca ternária</h3>
                </a>
                <p class="post-meta">
                    Postado por
                    <a href="#!">Pedro Henrique</a>
                    em 10 de Setembro de 2022
                </p>
            </div>
            <hr class="my-4" />
            <div class="post-preview">
                <a href="algorithms/dfs">
                    <h2 class="post-title">Busca em Profundidade</h2>
                    <h3 class="post-subtitle">Busca em profundidade em grafos</h3>
                </a>
                <p class="post-meta">
                    Postado por
                    <a href="#!">Pedro Henrique</a>
                    em 10 de Setembro de 2022
                </p>
            </div>
            <hr class="my-4" />
            <div class="post-preview">
                <a href="algorithms/mochila">
                    <h2 class="post-title">Mochila</h2>
                    <h3 class="post-subtitle">O problema da mochila</h3>
                </a>
                <p class="post-meta">
                    Postado por
                    <a href="#!">Pedro Henrique</a>
                    em 10 de Setembro de 2022
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- /body -->