{% extends 'base.html' %}

{% block conteudo %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <center><h2>KMP</h2></center>
                <p>
                    KMP é um algoritmo de matching em string, com o objetivo de encontrar a posição do matching 
                    ou quantas vezes aquela substring existe dentro de outra string.
                    Aparenta ser um problema simples, pois sua solução trivial é O(n²), porém a solução de simplesmente 
                    verificar todas as possibilidades de matching não é uma forma inteligente, e este algoritmo possui 
                    uma solução para o problema na complexidade de O(n).
                </p>
                <p>
                    Para iniciar o problema vamos nomear as strings, nós temos o nosso texto e o padrão buscado. 
                    
                </p>

            </div>
        </div>
    </div>
</article>

{% endblock %}