{% extends 'base.html' %}

{% block conteudo %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <center><h2>Busca Binária</h2></center>
                <p>Busca binária é uma busca inteligente em dados que possuem uma ordem.</p>
                <p>Dado um vetor ordenado, por exemplo:</p>
                <p> Array[] = { 5, 10, 12, 20, 30, 65, 102, 110, 121, 150}</p>
                <p>Como os dados estão ordenados, não é necessário procurar o valor 102, por exemplo, visitando todos os valores. Se estamos no valor 30 sabemos que o valor procurado é maior do que ele,logo estará à direita, e se estamos no valor 150, sabemos que é menor, logo está à esquerda. 
                    Dessa forma podemos decidir em qual intervalo procurar baseado em apenas um teste.
                    Gerando este código:
                </p>
                <pre>
                    <code class="language-c">
int n = 10;
int Array[] = { 5, 10, 12, 20, 30, 65, 102, 110, 121, 150};
int binary_search(int search){
    int left = 0, right = n-1;
    while(right >= left){
        int mid = (left + right) / 2;
        if(Array[mid] == search)
            return search;
        else if(Array[mid] < search)
            left = mid + 1;
        else
            right = mid - 1;
    }
    return -1;
}
                    </code>
                </pre>
                <p>
                    Porém este código possui uma forma muito fechada de pensamento, o foco dele é apenas se o elemento existe ou não.
                    Busca binária possui outras aplicações além de se utilizar apenas para isto. Dessa forma vamos pensar de uma maneira diferente.
                    Inicialmente o valor busca pode estar em qualquer posição dentro do array, ao fazer o primeiro teste no meio do array, o valor busca será ele, ou na esquerda, ou na direita.
                    Se for na esquerda o range de busca é [ 0, n/2 ), se for na direita é [ n/2 + 1, n ), assim temos que o valor à esquerda sempre está incluso no intervalo procurado, e o da direita sempre fora do intervalo procurado.
                    Sendo assim, a nossa variável 'left' do código anterior sempre pode conter o valor buscado, e ao final da busca binária, se o valor existir ele estará na posição Array[left]. 
                </p>
                <p>
                    Outra observação sobre o código anterior é a utilização de '(left+right)/2' para determinar a posição do meio, os valores podem ser muito alto e gerar problemas, dependendo da aplicação, por isso se utiliza outra forma de escrever a posição do meio: 'left + (right - left) / 2' para evitar número muito grandes.
                    Gerando o código:
                </p>
                <pre>
                    <code class="language-c">
int n = 10;
int Array[] = { 5, 10, 12, 20, 30, 65, 102, 110, 121, 150};
int binary_search(int search){
    int left = 0, right = n;
    while(right>left){
        int mid = left + (right - left) / 2;
        if(Array[mid] < search)
            left = mid + 1;
        else
            right = mid;
    }
    return Array[left];
}
                    </code>
                </pre>
                <p>Este código respeita a ideia de que o valor buscado estará sempre no intervalo [left,right). Isso é muito útil para a aplicar busca binária em problemas em que a busca não está diretamente na busca de um valor no array.</p>
            </div>
        </div>
    </div>
</article>

{% endblock %}